.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# output folder
output/
data/audioset # gitignore audioset as folder or file
data/audioset/
vis/
